{% extends 'base.html' %}
{% block nav %}
    <li><a href="{% url 'about' %}">About</a></li>
    <li><a href="/systems">View All My Systems</a></li>
    <li><a href="{% url 'login' %}">Sign Out</a></li>
{% endblock %}
{% block content %}
{% if object %}
    <h1>Edit <span class="teal-text">{{object.name}}</span></h1>
{% else %}
    <h1>Add System</h1>
{% endif %}
<form action="" method="POST">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <input type="submit" value="Submit!" class="btn">
</form>
<script>
    var selectEl = document.getElementById('id_platform');
    M.FormSelect.init(selectEl);
</script>
{% endblock %}