{% extends 'base.html' %}
{% block nav %}
    <li><a href="{% url 'about' %}">About</a></li>
    <li><a href="/systems">View All My Systems</a></li>
    <li><a href="{% url 'login' %}">Sign Out</a>
{% endblock %}
{% block content %}
    <h1>Delete System</h1>
    <h4>Are you sure you want to delete?</h4>
    <form action="" method="POST">
        {% csrf_token %}
        <input type="submit" value="Yes - Delete!" class="btn">
        <a href="{% url 'systems_detail' object.id %}">Cancel</a>
    </form>
{% endblock %}