{% extends 'base.html' %}
{% block nav %}
    <li><a href="/systems">View All My Systems</a></li>
    <li><a href="{% url 'login' %}">Sign Out</a></li>
{% endblock %}
{% block content %}
    <h1>🎮Our Story🕹️</h1>
    <hr />
    <h6>Kelsey and Angela love to play video games. They wanted to share their love of video games with the world by creating gamebreak. We are on a mission to help everyone find their favorite video game. If you love what we are doing, you can create an account and start your journey. </h6>
{% endblock %}