body {
    background: white url("../images/superMBG.jpg");
    background-size: cover;
}

nav {
    background-color: transparent;
    height:10%;
}
.mario{
    position: absolute;
    width: 71px;
    height: 72px;
    background: url('https://raw.githubusercontent.com/LantareCode/random-this-and-thats/master/CSS/SuperMario-Animation/images/mariowalking/result.png') left center;    
    top:5px;
    left:0px;
    -webkit-animation: play 0.8s steps(4) infinite,
                run 7s both infinite linear;
            animation: play 0.8s steps(4) infinite,
                run 7s both infinite linear;
}
@-webkit-keyframes play{
    100%{background-position: -284px;}
}
@keyframes play{
    100%{background-position: -284px;}
}
@-webkit-keyframes run{
    from{left: -200px;}
    to{left: 100%;}
}
@keyframes run{
    from{left: -200px;}
    to{left: 100%;}
}
@-webkit-keyframes wind{
    from{left: -300px;}
    to{left: 100%;}
}
@keyframes wind{
    from{left: -300px;}
    to{left: 100%;}
}